body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: #eee;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f00;
  color: #fff;
  border-bottom: 1px solid #ccc;
}

.header h1 {
  font-size: 30px;
  font-weight: 700;
  padding: 15px;
}

.header h1:hover {
  background: #000;
}

.header-search {
  width: 50%;
  padding: 0 20px;
}

input[type="text"] {
  padding: 5px 10px;
}

.header-search > input {
  background-color: #ff5f5f;
  border: 1px solid #ff7474;
  width: 100%;
  color: #fff;
}

.header-search > input:focus {
  border-color: #fff;
}

.header-search > input::placeholder {
  color: #fff;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header-nav > li {
  padding: 0 20px;
}