html {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color:rgb(244, 244, 252);
  height: 100%;
}

#root {
  height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-content {
  min-height: calc(calc(var(--vh, 1vh) * 100) - 58px);
  margin-top: 58px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

footer {
  flex: 0 0 45px;
  margin-top: auto;
  text-align: center;
  font-weight: 700;
  padding-top: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(45, 54, 138);
  color: #fff;
  border-bottom: 1px solid #ccc;
  width: 100%;
  position: fixed;
}

.header h1 {
  font-size: 30px;
  font-weight: 700;
  padding: 10px 20px;
}

.header-search {  
  width: 50%;
}

.normal-form {
  display: flex;
  justify-content: center;
}

input {
  padding: 5px 10px;
}

.header-search input {
  background-color: rgb(59, 67, 138);
  border: 1px solid rgb(68, 75, 136);
  font-weight: 300;
  width: 100%;
  color: #fff;
}

.header-search input:focus {
  border-color: #ccc;
}

.header-search input::placeholder {
  color: #ccc;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header-nav > li {
  padding: 0 20px;
  width: max-content;
}

.header-nav button {
  display: flex;
  align-items: center;
}

.header i {
  display: none;
  padding: 0 10px;
  cursor: pointer;
}

i#sign-in, i#sign-out {
  padding-right: 20px;
}

.hidden-form {
  position: absolute;
  width: 100%;
  top: 14px;
  left: 0;
}

.hidden-form > input {
  width: calc(100% - 40px);
  margin: 0 10px;
}

.close-search-overlay {
  position: absolute;
  top: 21px;
  right: 20px;
}

@media all and (max-width: 560px) {
  .normal-form, .header-nav > li {
    display: none;
  }

  .header-search {
    display: flex;
    justify-content: flex-end;
  }

  .header i {
    display: block;
  }
}