.content {
  padding: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
}

.form-container h1 {
  font-weight: 700;
  font-size: 36px;
  padding-bottom: 20px;
  text-align: center;
}

.form-container > form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
}

.form-container input, .form-container textarea {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 7px;
  color: #000;
  margin: 8px 0px;
}

.form-container textarea {
  padding: 10px;
}

.form-container input:focus, .form-container textarea:focus {
  border-color: #333;
}

input[type="file"] {
  border: 0;
  background-color: #eee;
  padding: 5px;
}

form button {
  background-color: dodgerblue;
  font-weight: 700;
  color: white;
  border: 1px solid #000;
  border-radius: 5px;
  width: max-content;
  padding: 5px 10px;
  margin: 0 auto;
}

form button:hover {
  background-color: #000;
}

.form-submit {
  margin: 0 auto;
}

.form-submit button {
  margin: 0 15px;
}

.red {
  background-color: red;
  color: white;
}

input#username, input#password {
  width: 200px;
  margin: 0 auto;
}