.content {
  padding: 20px;
}

.error {
  color: red;
}

.form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
}

.form-container video {
  width: 400px;
  height: 225px;
}

.form-container h1 {
  font-weight: 700;
  font-size: 36px;
  padding-bottom: 20px;
  text-align: center;
}

.form-container > form {
  display: flex;
  flex-direction: column;
}

.form-container input, .form-container textarea {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 7px;
  color: #000;
  margin: 8px 0px;
}

.form-container textarea {
  padding: 10px;
}

.form-container input:focus, .form-container textarea:focus {
  border-color: #333;
}

input[type="file"] {
  border: 0;
  background-color: #eee;
  padding: 5px;
}

form button {
  background-color: dodgerblue;
  font-weight: 700;
  color: white;
  border: 1px solid #000;
  border-radius: 5px;
  width: max-content;
  padding: 5px 10px;
  margin: 0 auto;
}

form button:hover {
  background-color: #000;
}

.form-submit button {
  margin: 0 15px;
}

.red {
  background-color: red;
  color: white;
}

input#username, input#password {
  width: 200px;
  margin: 0 auto;
}

.session-errors {
  color: red;
  text-align: center;
  padding-bottom: 5px;
}

#upload-video-button {
  display: flex;
  justify-content: center;
  width: 96px;
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid dodgerblue;
  width: 11px;
  height: 11px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media all and (max-width: 420px) {
  .form-container, input[type="file"], .form-container video {
    width: 100%;
  }

  .form-submit {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .form-submit button {
    margin-bottom: 10px;
  }
}