h2 {
  font-weight: 700;
  font-size: 24px;
}

h3 {
  font-weight: 700;
  padding-bottom: 10px;
}

.video-container {
  width: 650px;
}

.video-details {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 5px;
}

.video-reactions {
  display: flex;
  padding: 0 20px;
}

.video-reactions > li {
  padding-right: 10px;
}

.video-reactions > li:hover {
  cursor: pointer;
}

.video-reactions i {
  padding-right: 5px;
}

.video-description {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding: 15px;
  margin-top: 10px;
}

@media all and (max-width: 670px) {
  .video-container, .video-container > video {
    width: 100%;
  }
}