.videos-index h1 {
  font-weight: 700;
  font-size: 20px;
}

.thumbnails {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.thumbnail {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 10px 15px;
}

.thumbnail img {
  padding-bottom: 5px;
}

.thumbnail > a {
  margin-bottom: 5px;
}

.bold {
  font-weight: 700;
}